.crewContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .crewContainer {
    flex-direction: column-reverse;
    margin-top: 50px;
    padding-bottom: 80px;
  }
}

.crewContent {
  min-width: 632px;
  position: relative;
}

@media (max-width: 1500px) {
  .crewContent {
    min-width: 550px;
  }
}

@media (max-width: 768px) {
  .crewContent {
    min-width: unset;
    width: fit-content;
  }
}

.role {
  color: var(--gray);
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .role {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .role {
    font-size: 1.5rem;
  }
}

.name {
  color: var(--white);
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 3.5rem;
  width: max-content;
  margin: 10px 0 40px;
}

@media (max-width: 1200px) {
  .name {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

.bio {
  color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.5;
  width: 400px;
  height: 160px;
}

@media (max-width: 1200px) {
  .bio {
    text-align: center;
    margin: 0;
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .bio {
    width: fit-content;
  }
}

.crewImg {
  user-select: none;
  min-width: 500px;
  width: 500px;
  min-height: 515px;
  height: 515px;
  position: relative;
  top: 2px;
}

@media (max-width: 1200px) {
  .crewImg {
    width: 350px;
    min-width: 350px;
    height: 360px;
    min-height: 360px;
    margin-bottom: 90px;
  }
}

.crewImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crewNav {
  margin-top: 80px;
  user-select: none;
}

@media (max-width: 1200px) {
  .crewNav {
    position: absolute;
    left: 50%;
    top: -50px;
    margin: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.crewNav ul {
  display: flex;
  align-items: center;
}

.crewNav ul li:not(:last-child) {
  margin-right: 20px;
}

.crewNav ul li a {
  display: inline-block;
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.3;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
}

.crewNav ul li a:hover {
  opacity: .8;
}

.crewNav ul li a[class=active] {
  opacity: 1;
}