.mainPageTitle {
  color: var(--light-blue);
  font-weight: normal;
  font-size: 1.75rem;
  letter-spacing: 3px;
}

@media (max-width: 1200px) {
  .mainPageTitle {
    display: flex;
    justify-content: center;
  }
}

.mainPageTitle span {
  color: var(--dark-gray);
  margin-right: 6px;
}