@import "../../Sass/mixins";

.homePage {
  background: url("../assets/home/background-home-desktop.jpg") no-repeat;
  background-size: cover;
  padding-top: 300px;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 992px) {
  .homePage {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .homePage {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
  }
}

@media (max-width: 552px) {
  .homePage {
    padding-top: 100px;
  }
}

@media (max-width: 376px) {
  .homePage {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  }

  .homePage::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/home/background-home-desktop.jpg") no-repeat;
    z-index: -1;
  }
}

.homePage>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .homePage>div {
    flex-direction: column;
  }
}

.homePage .text h1 {
  font-size: 1.5625rem;
  font-weight: 400;
  word-spacing: 6px;
  letter-spacing: 3px;
  color: var(--light-blue);
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .homePage .text h2 {
    text-align: center;
  }
}

@media (max-width: 552px) {
  .homePage .text h1 {
    font-size: 1.375rem;
  }
}

.homePage .text h1 span {
  font-family: "Bellefair";
  letter-spacing: 4px;
  font-size: 8.13rem;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
  color: var(--white);
  margin-left: -10px;
}

@media (max-width: 992px) {
  .homePage .text h1 span {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 552px) {
  .homePage .text h1 span {
    font-size: 6.24rem;
  }
}

.homePage .text p {
  color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.7;
  width: 350px;
}

@media (max-width: 992px) {
  .homePage .text p {
    text-align: center;
    width: 300px;
    margin: 0 auto 10px;
  }
}

.homePage .wordSpace {
  --size: 250px;
  width: var(--size);
  height: var(--size);
  background-color: var(--white);
  color: var(--black);
  text-transform: uppercase;
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 2.5rem;
  @include prefix(border-radius, 50%);
  @include center-x-y;
  user-select: none;
  cursor: pointer;
  position: relative;
}

@media (max-width: 992px) {
  .homePage .wordSpace {
    --size: 200px;
    font-size: 1.88rem;
  }
}

@media (max-width: 552px) {
  .homePage .wordSpace {
    --size: 180px;
    font-size: 1.63rem;
  }
}

.homePage .wordSpace::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  width: 99%;
  height: 99%;
  @include prefix(transition, transform .3s .1s);
  @include prefix(border-radius, inherit);
  @include prefix(transform, translate(-50%, -50%));
}

.homePage .wordSpace:hover:before {
  @include prefix(transform, translate(-50%, -50%) scale(1.5));
}

@media (max-width: 992px) {
  .homePage .wordSpace:hover::before {
    @include prefix(transform, translate(-50%, -50%) scale(1.3));
  }
}