.destinationPage {
  background: url("../assets/destination/background-destination-desktop.jpg") no-repeat;
  background-size: cover;
  padding-top: 160px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .destinationPage {
    padding-top: 120px;
  }
}

@media (max-width: 768px) {
  .destinationPage {
    background: url("../assets/destination/background-destination-tablet.jpg") no-repeat;
  }
}

@media (max-width: 376px) {
  .destinationPage {
    background: url("../assets/destination/background-destination-mobile.jpg") repeat;
  }
}