.destinationPage {
  background: url("../assets/destination/background-destination-desktop.jpg") no-repeat;
  background-size: cover;
  padding-top: 170px;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .destinationPage {
    background: url("../assets/destination/background-destination-tablet.jpg") no-repeat;
  }
}


@media (max-width: 376px) {
  .destinationPage {
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
  }
}