@import "../../Sass/mixins";

.planetsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 50px;
}

@media (max-width: 1200px) {
  .planetsContainer {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .planetsContainer {
    padding: 50px 0 40px;
  }
}

.img {
  width: 400px;
  min-width: 400px;
  user-select: none;
  @include prefix(animation, infinite-rotate 70000s linear infinite);
}

@media (max-width: 1200px) {
  .img {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .img {
    width: 300px;
    min-width: 300px;
  }
}

.planetsNav {
  user-select: none;
}

.planetsNav ul {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 1200px) {
  .planetsNav ul {
    justify-content: center;
  }
}

.planetsNav ul li a {
  color: var(--light-gray);
  font-size: 1.125rem;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover:before {
    width: 100%;
  }

  &[class=active]::before {
    opacity: 1;
    width: 100%;
  }
}

.planetsNav ul li a::before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  @include prefix(transform, translateX(-50%));
  @include prefix(transition, .3s);
  background-color: #fff;
  width: 0;
  height: 3px;
  opacity: .5;
}

.planetName {
  font-size: 6.25rem;
  font-weight: normal;
  font-family: "Bellefair";
  text-transform: uppercase;
  color: var(--light-gray);
  margin: 24px 0;
  user-select: none;
}

@media (max-width: 1200px) {
  .planetName {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .planetName {
    font-size: 5.5rem;
  }
}

.description {
  width: 470px;
  height: 116px;
  color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .description {
    font-size: 1.1rem;
    width: 100%;
    height: 85px;
    overflow: hidden;
  }
}

.content hr {
  border-color: rgb(103, 103, 103);
  margin: 10px 0 26px;
}

.boxes {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .boxes {
    flex-direction: column;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:first-child {
    margin-right: 80px;
  }
}

@media (max-width: 768px) {
  .box:first-child {
    margin-right: 20px;
  }
}

.box span {
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:first-child {
    color: var(--light-blue);
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .box span {
    text-align: center;
  }
}

.box span:last-child {
  color: var(--white);
  font-size: 1.7rem;
  font-family: "Bellefair";
}

@keyframes infinite-rotate {
  to {
    @include prefix(transform, rotate(100turn));
  }
}